<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Parqueadero</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Lista de pisos</h3>
    <a th:href="@{/api/pisos/crear}" class="btn btn-primary btn-sm mb-3" >Crear Piso</a>
    <a th:href="@{/api/tarifas}" class="btn btn-primary btn-sm mb-3" >Crear tarifa</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tipo de vehiculo</th>
            <th>Espacios totales</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="piso:${allpisoslist}">
            <td th:text="${piso.id}"></td>
            <td th:text="${piso.tarifa.tipoVehiculo}"></td>
            <td th:text="${piso.espaciosTotales}"></td>
            <td> <a th:href="@{/obtenerPiso/{id}(id=${piso.id})}"
                    class="btn btn-primary">Update</a>
                <a th:href="@{/eliminarPiso/{id}(id=${piso.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>