<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parqueadero</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Lista de pisos</h3>
    <a th:href="@{/api/pisos/crear}" class="btn btn-primary btn-sm mb-3" >Crear Piso</a>
    <a th:href="@{/api/tarifas/crear}" class="btn btn-primary btn-sm mb-3" >Crear tarifa</a>
    <table style="width:90%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Numero del piso</th>
            <th>Tipo de vehiculo</th>
            <th>Precio por minuto</th>
            <th>Espacios totales</th>
            <th>Espacios disponibles</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="piso:${allpisoslist}">
            <td th:text="${piso.numeroPiso}"></td>
            <td th:text="${piso.tarifa.tipoVehiculo}"></td>
            <td th:text="${piso.tarifa.getTarifaPorMinuto()}"></td>
            <td th:text="${piso.espaciosTotales}"></td>
            <td th:text="${piso.espaciosDisponibles}"></td>
            <td> <a th:href="@{/api/pisos/actualizar/{id}(id=${piso.id})}"
                    class="btn btn-primary">Actualizar</a>
                <a th:href="@{/api/pisos/eliminar/{id}(id=${piso.id})}"
                   class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Lista de tarifas</h3>
    <table style="width:70%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tipo de vehiculo</th>
            <th>Precio por minuto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tarifa:${alltarifalist}">
            <td th:text="${tarifa.id}"></td>
            <td th:text="${tarifa.getTipoVehiculo()}"></td>
            <td th:text="${tarifa.getTarifaPorMinuto()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>